<div class="inscription">
  <div>
    <h2>Inscription</h2>

    <label>Email :</label>
    <input type="email" [(ngModel)]="email" required />

    <label>Mot de passe :</label>
    <input type="password" [(ngModel)]="motDePasse" required />

    <label>Confirmer le mot de passe :</label>
    <input type="password" [(ngModel)]="confirmerMotDePasse" required />

    <button type="submit" (click)="inscrire()">S'inscrire</button>

    <p *ngIf="messageErreur" style="color: red;">{{ messageErreur }}</p>
    <p *ngIf="messageSucces" style="color: green;">{{ messageSucces }}</p>
    <div class="exclude-white-text">
    </div>
  </div>

</div>
