<div *ngIf="!noSavedFlight" class="favorites-container">
    <h2 class="favorites-title">Mes Vols Sauvegardés</h2>

    <div *ngFor="let flight of savedFlights; let i = index" class="flight-card">
        <div class="flight-header">
            <h3>✈️ Vol {{ i + 1 }}</h3>
            <span class="flight-price">💰 Prix : {{ flight.price.total }} {{ flight.price.currency }}</span>
        </div>

        <div *ngFor="let itinerary of flight.itineraries; let j = index" class="itinerary">
            <h4>🛤 Itinéraire {{ j + 1 }}</h4>

            <div class="itinerary-details">
                <div *ngFor="let segment of itinerary.segments" class="segment-box">
                    <div class="segment-info">
                        <div class="departure">
                            <p class="info"><strong>📅 Départ :</strong> {{ segment.departure.at | date:'yyyy-MM-dd à HH' }}H{{ segment.departure.at | date:'mm' }}M </p>
                            <p class="info"><strong>🛫 Aéroport :</strong> {{ segment.departure.iataCode }} </p>
                        </div>

                        <div class="duration">
                            <p class="info">⏳ {{ segment.duration.replace('PT', '') }}</p>
                        </div>

                        <div class="arrival">
                            <p class="info"><strong>📅 Arrivée :</strong> {{ segment.departure.at | date:'yyyy-MM-dd à HH' }}H{{ segment.departure.at | date:'mm' }}M </p>
                            <p class="info"><strong>🛬 Aéroport :</strong> {{ segment.arrival.iataCode }} </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button class="delete-button" (click)="removeFlight(flight.id)">🗑 Supprimer</button>
    </div>
</div>
